<div class="footer">
  <div class="about">
    <h3>ABOUT</h3>
    <a href="#">About</a>
    <a href="#">Privacy $ Terms</a>
    <a href="#">Help</a>
    <a href="#">All Restaurants</a>
    <a href="#">Send Feedback</a>
    <a href="#">Careers</a>
  </div>
  <div class="zagatCities">
    <h3>ZAGAT CTIES</h3>
    <a href="#">Portland</a>
    <a href="#">Seattle</a>
    <a href="#">Atlanta</a>
    <a href="#">Baltimore</a>
    <a href="#">Boston</a>
    <a href="#">Charleston</a>
    <a href="#">Charlotte</a>
    <a href="#">Chicago</a>
    <a href="#">Cincinnati</a>
    <a href="#">Cleveland</a>
    <a href="#">Columbus</a>
    <a href="#">Dallas</a>
    <a href="#">About</a>
    <a href="#">Denver</a>
    <a href="#">Houston</a>
    <a href="#">Indianapolis</a>
    <a href="#">Kansas City</a>
    <a href="#">Los Angeles</a>
  </div>
</div>
