<div class="card">
  <img class="card-img-top"src="../assets/img/ramen.jpeg" alt="ramen" style="width:100%">
  <div class="card-body">
    <h5><a  href="#">Best Restaurants in Portland</a></h5>
    <p class="card-text">July 13, 2018</p>
  </div>
</div>
<div class="card">
  <img class="card-img-top"src="../assets/img/ramen.jpeg" alt="ramen" style="width:100%">
  <div class="card-body">
    <h5><a  href="#">Best Restaurants in Portland</a></h5>
    <p class="card-text">July 13, 2018</p>
  </div>
</div>
