<div class="container">
  <div class="mainArea">
    <div class="mainHeader">
      <!-- <img id="coffee" src="assets/images/door.png" alt="door"> -->
      <!-- art logo -->
      <h2 id="porland">City's Best: Portland </h2>
      <h5>FROM THE TOP SPOTS TO LOCAL FAVORITES</h5>
      <p>FROM THE TOP SPOTS TO LOCAL FAVORITE</p>
    </div>
    <div class="divMain">
      <a href="#">THE ESSENTIALS</a>
      <a href="#">TOP GUIDES</a>
      <a href="#">DISHES AND DRINKS</a>
    </div>
    <div class="essentials">

    </div>
    <div class="BestPortland">

    </div>
    <div class="topGuide">

    </div>
    <div class="dishAndDrink">

    </div>
  </div>
</div>
