<div class="container">
  <div class="mainArea">
    <div class="mainHeader">
      <div class="foodImg">
        <img id="food" src="../assets/img/food.jpg" alt="door">
      </div>
      <div class="portland">
        <!-- art logo -->
        <h2>City's Best: Portland </h2>
        <p>FROM THE TOP SPOTS TO LOCAL FAVORITE</p>
        <div class="divMain">
          <a href="#">THE ESSENTIALS</a>
          <a href="#">TOP GUIDES</a>
          <a href="#">DISHES AND DRINKS</a>
        </div>
        <button type="button" name="button">VIEW THE GUIDE</button>
      </div>
    </div>
  </div>
  <div class="titleLastest">
    <p class="fancy"><span>The Latest</span></p>
    <p>IN PORTLAND</p>
  </div>
  <div class="lastRowCol">
    <div class="lastestRow">
      <div class="leftCard">
        <div class="card">
          <img class="card-img-top"src="../assets/img/ramen.jpeg" alt="ramen" style="width:100%">
          <div class="card-body">
            <h5><a  href="#">Best Restaurants in Portland</a></h5>
            <p class="card-text">July 13, 2018</p>
          </div>
        </div>
      </div>
      <div class="middleCard">
        <div class="card">
          <img class="card-img-top"src="../assets/img/ramen.jpeg" alt="ramen" style="width:100%">
          <div class="card-body">
            <h5><a  href="#">Best Restaurants in Portland</a></h5>
            <p class="card-text">July 13, 2018</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top"src="../assets/img/ramen.jpeg" alt="ramen" style="width:100%">
          <div class="card-body">
            <h5><a  href="#">Best Restaurants in Portland</a></h5>
            <p class="card-text">July 13, 2018</p>
          </div>
        </div>
      </div>
      <div class="rightcard">
        <div class="card">
          <img class="card-img-top"src="../assets/img/ramen.jpeg" alt="ramen" style="width:100%">
          <div class="card-body">
            <h5><a  href="#">Best Restaurants in Portland</a></h5>
            <p class="card-text">July 13, 2018</p>
          </div>
        </div>
      </div>
    </div>
    <div class="moreButton">
      <a href="#">MORE</a>
    </div>
  </div>
</div>
