.mainArea {
  width: 100%;
  text-align: center;
}
.mainHeader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foodImg {
  opacity: .2;
  width: 100%;
  position: relative;
}
.portland{
  width: 100%;
  position: absolute;
  color: white;
}
