<div class="mainArea">
  <div class="mainHeader">
    <div class="foodImg">
      <img id="food" src="../assets/img/food.jpeg" alt="door">
    </div>
    <div class="portland">
      <!-- art logo -->
      <h2>City's Best: Portland </h2>
      <p>FROM THE TOP SPOTS TO LOCAL FAVORITE</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="divMain">
    <a href="#">THE ESSENTIALS</a>
    <a href="#">TOP GUIDES</a>
    <a href="#">DISHES AND DRINKS</a>
  </div>
  <div class="essentials">
    <div class="card">
      <img class="card-img-top" src="../assets/img/hotdog.jpeg" alt="hotdog" style="width:100%">
      <div class="card-body">
        <h5><a  href="#">Best Restaurants in Portland</a></h5>
        <p class="card-text">July 13, 2018</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top"src="../assets/img/ramen.jpeg" alt="ramen" style="width:100%">
      <div class="card-body">
        <h5><a  href="#" class="card-title">New Restaurants and Bars in Portland, OR</a></h5>
        <p>January 8, 2018</p>
      </div>
    </div>
  </div>
  <div class="BestPortland">
    <p>best of portland</p>
    <p>best of portland</p>
    <p>best of portland</p>
    <p>best of portland</p>
    <p>best of portland</p>

  </div>
  <div class="topGuide">
    <div class="card">
      <img class="card-img-top" src="../assets/img/hotdog.jpeg" alt="hotdog" style="width:100%">
      <div class="card-body">
        <h5><a  href="#">Best Restaurants in Portland</a></h5>
        <p class="card-text">July 13, 2018</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top"src="../assets/img/ramen.jpeg" alt="ramen" style="width:100%">
      <div class="card-body">
        <h5><a  href="#" class="card-title">New Restaurants and Bars in Portland, OR</a></h5>
        <p>January 8, 2018</p>
      </div>
    </div>
  </div>
  <div class="dishAndDrink">
    <p>dish and drinks</p>
  </div>
</div>
