

  <div class="navbar navbar-expand" id="top-nav-menu">
    <div class="container-fluid">
      <div class="topNavLeft">
        <a class="navbar-brand" href="#">ZAGAT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <div class="topNavRight">
        <ul class="nav navbar-nav" id="top-nav">
          <li class="active">
            <a routerLink="the-lastest">THE LASTEST</a>
          </li>
          <li class="navbar-right">
            <a class="nav-link" href="#">CITY'S BEST</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown">
              Portland
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Portland</a>
              <a class="dropdown-item" href="#">Seattle</a>
              <a class="dropdown-item" href="#">Atlanta</a>
              <a class="dropdown-item" href="#">Austi</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- end of nav bar  -->

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>


<!-- subscribe page -->
<div class="subscribe">
  <app-subscribe></app-subscribe>
</div>ß

<!-- End of subscribe page -->


<!-- footer -->
<a class="text-muted" routerLink="admin">Admin</a>
<footer class="footer">
  <div class="about">
    <div class="header">
      <h3>ABOUT</h3>
    </div>
    <div class="list">
      <a href="#">About</a>
      <a href="#">Privacy $ Terms</a>
      <a href="#">Help</a>
      <a href="#">All Restaurants</a>
      <a href="#">Send Feedback</a>
      <a href="#">Careers</a>
    </div>
  </div>
  <div class="zagatCities">
    <div class="header">
      <h3>ZAGAT CTIES</h3>
    </div>
    <div class="list">
      <a href="#">Portland</a>
      <a href="#">Seattle</a>
      <a href="#">Atlanta</a>
      <a href="#">Baltimore</a>
      <a href="#">Boston</a>
      <a href="#">Charleston</a>
      <a href="#">Charlotte</a>
      <a href="#">Chicago</a>
      <a href="#">Cincinnati</a>
      <a href="#">Cleveland</a>
    </div>
  </div>
</footer>
