<!-- <div id="navbar">
  <app-nav-bar></app-nav-bar>
</div> -->

<div class="main">
  <router-outlet></router-outlet>
</div>
<!-- <div class="subscribe">
  <app-subscribe></app-subscribe>
</div> -->
<a class="text-muted" routerLink="admin">Admin</a>
<footer class="footer">
  <div class="about">
    <div class="header">
      <h3>ABOUT</h3>
    </div>
    <div class="list">
      <a href="#">About</a>
      <a href="#">Privacy $ Terms</a>
      <a href="#">Help</a>
      <a href="#">All Restaurants</a>
      <a href="#">Send Feedback</a>
      <a href="#">Careers</a>
    </div>
  </div>
  <div class="zagatCities">
    <div class="header">
      <h3>ZAGAT CTIES</h3>
    </div>
    <div class="list">
      <a href="#">Portland</a>
      <a href="#">Seattle</a>
      <a href="#">Atlanta</a>
      <a href="#">Baltimore</a>
      <a href="#">Boston</a>
      <a href="#">Charleston</a>
      <a href="#">Charlotte</a>
      <a href="#">Chicago</a>
      <a href="#">Cincinnati</a>
      <a href="#">Cleveland</a>
    </div>
  </div>
</footer>
