<div class="navbar navbar-expand" id="top-nav-menu">
  <div class="container-fluid">
    <div class="topNavLeft">
      <a class="navbar-brand" href="#">ZAGAT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div class="topNavRight">
      <ul class="nav navbar-nav" id="top-nav">
        <li class="active">
          <a routerLink="the-lastest">THE LASTEST</a>
        </li>
        <li class="navbar-right">
          <a class="nav-link" href="#">CITY'S BEST</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">portland</a>
            <a class="dropdown-item" href="#">Seattle</a>
            <a class="dropdown-item" href="#">Atlanta</a>
            <a class="dropdown-item" href="#">Austi</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- end of nav bar  -->

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>



<!-- subscribe page -->
<div class="subscribe">
  <app-subscribe></app-subscribe>
</div>

<!-- End of subscribe page -->


<!-- footer -->
<footer class="footer">
  <div class="about">
    <div class="header">
      <h3>ABOUT</h3>
    </div>
    <div class="list">
      <a href="#">About</a>
      <a href="#">Privacy $ Terms</a>
      <a href="#">Help</a>
      <a href="#">All Restaurants</a>
      <a href="#">Send Feedback</a>
      <a href="#">Careers</a>

    </div>
  </div>
  <div class="zagatCities">
    <div class="header">
      <h3>ZAGAT CTIES</h3>
    </div>
    <div class="list">
      <ul>
         <li [class]="priorityColor(currentTask)" *ngFor="let currentTask of tasks">{{currentTask.description}}  <button (click)="editTask()">Edit!</button></li>
       </ul>
    </div>
    <!-- <form>
      <input [(ngModel)]="userName" type="text" name="user">
    </form>
    <h3>{{selectedTask.description}}</h3>
    <p>Task Complete? {{selectedTask.done}}</p>
    <h3>Edit Task</h3>
    <label>Enter Task Description:</label>
    <input [(ngModel)]="selectedTask.description">
    <label>Enter Task Priority (1-3):</label>
    <br>
    <input type="radio" [(ngModel)]="selectedTask.priority" value="1">1 (Low Priority)<br>
    <input type="radio" [(ngModel)]="selectedTask.priority" value="2">2 (Medium Priority)<br>
    <input type="radio" [(ngModel)]="selectedTask.priority" value="3">3 (High Priority) -->
  </div>

  <a routerLink="admin">Admin</a>
</footer>
