<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<div class="subscribeBox">
  <div class="icon">
    <a class="iconSize" href="#"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
    <a href="#"><i class="fab fa-periscope fa-2x"></i></a>
    <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
    <a href="#"><i class="fab fa-snapchat-ghost fa-2x"></i></a>
    <a href="#"><i class="fab fa-pinterest fa-2x"></i></a>
    <a href="#"><i class="fab fa-tumblr fa-2x"></i></a>
    <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
    <a href="#"><i class="fab fa-google-plus fa-2x"></i></a>
  </div>
  <div class="email">
    <p>GET ZAGAT'S NEWSLETTER IN YOUR INBOX</p>
    <input id="emailInput" type="text" name="email" value="Enter your Email">
  </div>
</div>
